
<% provide(:title, "Dashboard") %>
<center>
  <h1>Sign In</h1>
</center>

<div class='container'>
<div class="card white">
  <div class="card-content grey-text">

    <%= form_for :session, url: session_path do |f| %>
      <div class="text-field">
        <%= f.label :email %>
        <%= f.text_field :email, type: 'email' %>
      </div>

      <div class="password-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="submit-field">
        <button type='submit' class='btn btn-block btn-primary'>
          SIGN IN
        </button>
      </div>

      <!-- <div class="other-links">
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t(".sign_up"), sign_up_path %>
        <% end %>
        <%= link_to t(".forgot_password"), new_password_path %>
      </div> -->
    <% end %>
  </div>
  <!-- <div class="card-action">
    <a href="/overview?account_id={{account.account_id}}">Overview</a>
    <a href="/reporting?account_id={{account.account_id}}">Reporting</a>
  </div> -->
</div>
</div>
